<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{{title}}"/>
    <meta name="keywords" content="{{keywords}}"/>
    <meta name="author" content="Universal Equations, Inc."/>
    <meta name="msapplication-TileColor" content="#9ea4d3"/>
    <meta name="msapplication-config" content="images/browserconfig.xml"/>
    <meta name="theme-color" content="#9ea4d3">

    <!-- Page Title -->
    <title>{{title}}</title>

    <!-- Favicon and Touch Icons -->
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/png">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/images/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/images/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/images/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#9ea4d3">


    <!-- Stylesheet -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/animate.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css-plugin-collections.css" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="/stylesheets/menuzord-skins/menuzord-boxed.css" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="/stylesheets/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="/stylesheets/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="/stylesheets/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="/stylesheets/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- Revolution Slider 5.x CSS settings -->
    <link href="/javascripts/revolution-slider/css/settings.css" rel="stylesheet" type="text/css"/>
    <link href="/javascripts/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
    <link href="/javascripts/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

    <!-- CSS | Theme Color -->
    <link href="/stylesheets/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">

    <link rel="canonical" href="https://…"/>
    
    <!-- external javascripts -->
    <script src="/javascripts/jquery-2.2.4.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="/javascripts/jquery-plugin-collection.js"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="/javascripts/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="/javascripts/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
 function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
</script>
</head>
<body class="">
{{{body}}}
</body>
</html>
